In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time

trips_file = "Trips_by_Distance.csv"
trips_distance_df = pd.read_csv(trips_file)
trips_distance_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,1/1/2019,34,NJ,34001.0,Atlantic County,"65,412","199,206","843,588","237,921","212,263","92,618","136,909","100,079","35,613","21,178","5,311",626,"1,070"
1,County,1/1/2019,34,NJ,34003.0,Bergen County,"237,866","695,963","2,722,275","812,551","703,573","319,765","398,958","325,758","90,433","38,672","17,805","4,522","10,238"
2,County,1/1/2019,34,NJ,34005.0,Burlington County,"100,791","343,232","1,315,760","350,422","316,098","150,400","197,259","201,325","58,958","28,598","8,528","1,939","2,233"
3,County,1/1/2019,34,NJ,34007.0,Camden County,"130,209","375,319","1,488,595","441,080","373,336","176,319","215,886","188,972","53,797","26,883","9,266","1,157","1,899"
4,County,1/1/2019,34,NJ,34009.0,Cape May County,"24,167","68,110","273,062","75,839","64,783","33,539","45,259","30,687","13,195","6,297","2,334",326,803

In [2]:
#len(trips_distance_df)

In [3]:
#len(trips_distance_df["County Name"].unique())

In [4]:
trips_distance_df.count()

Level                             16412
Date                              16412
State FIPS                        16412
State Postal Code                 16412
County FIPS                       15666
County Name                       15666
Population Staying at Home        16412
Population Not Staying at Home    16412
Number of Trips                   16412
Number of Trips <1                16412
Number of Trips 1-3               16412
Number of Trips 3-5               16412
Number of Trips 5-10              16412
Number of Trips 10-25             16412
Number of Trips 25-50             16412
Number of Trips 50-100            16412
Number of Trips 100-250           16412
Number of Trips 250-500           16412
Number of Trips >=500             16412
dtype: int64

In [5]:
nonulls_trips_distance_df = trips_distance_df.dropna(how='any')

In [6]:
nonulls_trips_distance_df.count()

Level                             15666
Date                              15666
State FIPS                        15666
State Postal Code                 15666
County FIPS                       15666
County Name                       15666
Population Staying at Home        15666
Population Not Staying at Home    15666
Number of Trips                   15666
Number of Trips <1                15666
Number of Trips 1-3               15666
Number of Trips 3-5               15666
Number of Trips 5-10              15666
Number of Trips 10-25             15666
Number of Trips 25-50             15666
Number of Trips 50-100            15666
Number of Trips 100-250           15666
Number of Trips 250-500           15666
Number of Trips >=500             15666
dtype: int64

In [7]:
len(nonulls_trips_distance_df["County Name"].unique())

21

In [8]:
del nonulls_trips_distance_df['State FIPS']
nonulls_trips_distance_df.head()

,Level,Date,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,1/1/2019,NJ,34001.0,Atlantic County,"65,412","199,206","843,588","237,921","212,263","92,618","136,909","100,079","35,613","21,178","5,311",626,"1,070"
1,County,1/1/2019,NJ,34003.0,Bergen County,"237,866","695,963","2,722,275","812,551","703,573","319,765","398,958","325,758","90,433","38,672","17,805","4,522","10,238"
2,County,1/1/2019,NJ,34005.0,Burlington County,"100,791","343,232","1,315,760","350,422","316,098","150,400","197,259","201,325","58,958","28,598","8,528","1,939","2,233"
3,County,1/1/2019,NJ,34007.0,Camden County,"130,209","375,319","1,488,595","441,080","373,336","176,319","215,886","188,972","53,797","26,883","9,266","1,157","1,899"
4,County,1/1/2019,NJ,34009.0,Cape May County,"24,167","68,110","273,062","75,839","64,783","33,539","45,259","30,687","13,195","6,297","2,334",326,803

In [9]:
del nonulls_trips_distance_df['County FIPS']
nonulls_trips_distance_df

,Level,Date,State Postal Code,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,1/1/2019,NJ,Atlantic County,"65,412","199,206","843,588","237,921","212,263","92,618","136,909","100,079","35,613","21,178","5,311",626,"1,070"
1,County,1/1/2019,NJ,Bergen County,"237,866","695,963","2,722,275","812,551","703,573","319,765","398,958","325,758","90,433","38,672","17,805","4,522","10,238"
2,County,1/1/2019,NJ,Burlington County,"100,791","343,232","1,315,760","350,422","316,098","150,400","197,259","201,325","58,958","28,598","8,528","1,939","2,233"
3,County,1/1/2019,NJ,Camden County,"130,209","375,319","1,488,595","441,080","373,336","176,319","215,886","188,972","53,797","26,883","9,266","1,157","1,899"
4,County,1/1/2019,NJ,Cape May County,"24,167","68,110","273,062","75,839","64,783","33,539","45,259","30,687","13,195","6,297","2,334",326,803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16400,County,1/16/2021,NJ,Salem County,"14,997","47,610","254,296","61,181","46,864","30,682","42,362","52,218","15,951","3,708",979,244,107
16401,County,1/16/2021,NJ,Somerset County,"85,784","245,380","1,195,251","314,062","275,977","151,579","198,198","176,577","55,641","15,600","6,417",379,821
16402,County,1/16/2021,NJ,Sussex County,"34,501","106,298","550,190","135,344","122,569","62,473","93,265","91,735","34,716","7,867","1,890",201,130
16403,County,1/16/2021,NJ,Union County,"159,727","398,340","2,014,171","640,972","551,051","243,946","254,801","222,017","64,600","25,170","8,913","1,673","1,028"
16404,County,1/16/2021,NJ,Warren County,"24,952","80,827","423,263","115,356","95,433","47,806","52,288","74,113","27,016","9,497","1,439",140,175

In [11]:
# Set x axis and tick locations
#x_axis = np.arange(len(nonulls_trips_distance_df))
#tick_locations = [value+0.4 for value in x_axis]

In [13]:
# Create a list indicating where to write x labels and set figure size to adjust for space
#plt.figure(figsize=(20,3))
#plt.bar(x_axis, nonulls_trips_distance_df["Number of Trips"], color='r', alpha=0.5, align="edge")
#plt.xticks(tick_locations, nonulls_trips_distance_df["County Name"], rotation="vertical")

In [ ]:
# Set x and y limits
plt.xlim(-0.25, len(x_axis))
plt.ylim(0, max(nonulls_trips_distance_df["Number of Trips"])+10)

In [ ]:
# Set a Title and labels
#plt.title("Total number of trips per Counties in NJ")
#plt.xlabel("County Name")
#plt.ylabel("Number of Trips")

In [ ]:
# Save our graph and show the grap
#plt.tight_layout()
#plt.savefig("../Images/avg_state_rain.png")
#plt.show()

In [ ]:
# How many counties are NJ 
counties_count = len(trips_distance_df["County Name"].unique())

counties_count_df = pd.DataFrame({"County Name": [counties_count]})
counties_count_df

In [ ]:
#grouped_by_date = trips_distance_df.groupby('Date')['County Name'].nunique()
#grouped_by_date = trips_distance_df.groupby('Date')['County Name']
#grouped_by_date = pd.Dataframe({"Date":'Date', "County Name":'County Name'}).sort_values
#grouped_by_date



#gender_counts = purchase_data.groupby('Gender')['SN'].nunique()
#gender_percentage = round(gender_counts / number_of_players * 100,2)

#gender_summary_df = pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": gender_percentage}).sort_values(["Total Count"], ascending=False)
#gender_summary_df

In [ ]:
#nj_trips = trips_distance_df["Number of Trips"].value_counts()
#nj_trips.head(22)